<style>
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */
header {
    background-color: #00BBFF;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
}

article {
    padding: 20px;
    background-color: #FFFFFF;
    font color: "#00BBFF";
}

p  {
    color: #00BBFF;
    font-family: Verdana;
    font-size: 100%;
}

.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
}

div.homework-blocks {
    margin: 5px;
    width: auto;
    height: auto;
    float: left;
}

div.homework-blocks img {
    height: 100px;
    margin: 5px;
    display: inline;
}

</style>
